@page
@model ContosoUniversity_RazorSite.Pages.Courses.IndexModel
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2>List Of Courses</h2>
    <a asp-page="Create">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    CourseID
                </th>
                <th>
                    Title
                </th>
                <th>
                    Credits
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Course){
                <tr>
                    <td>@Html.DisplayFor(ModelItem => item.CourseID)</td>
                    <td>@Html.DisplayFor(ModelItem => item.Title )</td>
                    <td>@Html.DisplayFor(ModelItem => item.Credits)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
